body{
	background: #d9d6cf;
    font-family: sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.231;;
}
p{
	margin:0;
}
#mainDiv{
    position: absolute;
    top: 4%; 
    right: 0; 
    bottom: 0; 
    left: 0;
    margin-left:auto;
	margin-right:auto;
}

#barDiv{
	position: absolute;
    top: 4%; 
    right: 0; 
    bottom: 91%; 
    left: 0;
    margin-left:auto;
	margin-right:auto;
}
#searchDiv{
	position: relative;
    top: 0; 
    max-width: 150px;
    max-height: 36px;
    margin-left:auto;
	margin-right:auto;
    text-align: left;

}
#menyDiv{
	position: absolute;
    top: 80px; 
    right: 785px; 
    bottom: 0; 
    left: 0;
    max-width: 175px;
    margin-left:auto;
	margin-right:auto;
}

#contentDiv{
	position: absolute;
    top: 80px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    max-width: 600px;
    margin-left:auto;
	margin-right:auto;
	border-color: gray;
}
#reklamDiv{
	position: absolute;
    top: 80px; 
    right: -800px; 
    bottom: 0; 
    left: 0px;
    max-width: 185px;
    margin-left:auto;
	margin-right:auto;
}
#reklam{
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
}
#banner{
    position: absolute;
    background-color: #7E8F7C;
    top: 0;
    left: 20%;
    right: 20%;
    bottom: 96%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
#href_profile{
    position: absolute;
    top: 24px;
    left: 50px;
    text-decoration: none;
    color: #3B3738;
    font-size: 17px;
}
#profile_icon{
    margin: 0 0;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: black;
}
input.Search{
    margin-top: 3.5px;
    width: 150px;
    height: 25px;
    padding: 0 8px;
    font-size: 14px;
    text-align: left;
}
ul.menu li a{
    cursor: pointer;
}
ul.menu li.active ul{
    display: block;
}
ul.menu{
    padding-left: 0px;
}
ul.menu li a{
    text-decoration: none;
    color: #3B3738;
    font-size: 16px;
}
ul.kurslista{
    padding-left: 10%;
}
ul.kurslista li{
    float: none;
}
ul.kurslista li a{
    color: #3B3738;
    font-size: 12px;
}
/*#logga{
	position:fixed;
	top:5px;
	right:415px;
}*/