html, body{
    min-width: 1400px;
}
body{
    background: white;
    font-family: sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.231;
}
p{
    margin:0;
}
#banner{
    position: absolute;
    background-color: #749C3F;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 96%;
    height: 30px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
}
#mainDiv{
    position: absolute;
    top: 30px;
    left: 10%;
    right: 10%;
    bottom: 100%;
}
#lmenu{
    float: left;
    margin: 10px;
    width: 200px;
    background-color: #749C3F;
    border-radius: 20px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
}
#profile{
    padding: 7px;
    border-bottom: 1px dotted;
    color: white; 
}
#href_profile{
    position: absolute;
    padding: 10px;
    float: left;
    text-decoration: none;
    color: #3B3738;
    font-size: 20px;
    color: white;
}
#searchDiv{
    max-width: 286px;
    max-height: 36px;
    display: block;
    margin: 0 auto;
}
input.Search{
    position: relative;
    width: 250px;
    height: 25px;
    padding: 0 16px;
    font-size: 14px;
    border-top: 0;
    box-shadow: 0px 3px 8px rgb(100,100,100);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
input:focus{
    outline: 0;
}
#menyDiv{
    position: relative;
    left: 20px;
}
ul.menu a{
    padding-top: 1px;
}
ul.menu li.active ul{
    display: block;
}
ul.menu{
    list-style-type: none;
    padding-left: 0px;
}
ul.menu li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#contentDiv{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 70%;
    min-width: 700px !important;
    background-color: #749C3F;
    border-radius: 20px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
}
#reklamDiv{
    position: absolute;
    top: 65px; 
    right: -800px; 
    bottom: 0; 
    left: 0px;
    max-width: 185px;
    margin-left:auto;
    margin-right:auto;
}
#reklam{
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
    border: 1px solid; 
}
#form_logout{
    position: absolute;
    right: 5px;
    min-height: 30px;
}
#logoutBtn{
    font-family: Century !important;
    font-size: 17px !important;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}
#logoutBtn:hover{
    cursor: pointer;
}
#banner a{
    position: absolute;
    font-family: Century !important;
    font-size: 16px !important;
    color: white;
    left: 100px;
    top: 5px;
}
ul.kurslista{
    padding-left: 10%;
}
ul.kurslista li{
    float: none;
}
ul.kurslista li a{
    color: #3B3738;
    font-size: 12px;
}
#courseInfoDiv
{
    position: relative;
    color: white;
    padding: 10px;
    font-size: 24px;
    border-bottom: 1px dashed;
}
#codemonkey
{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px; 
    padding-top: 20px;
}
#kurskod{
    float: right;  
}
#start-slut{
    position: relative;
    font-size: 16px;
}
ul.filelist{
    padding: 5px;
}
ul.filelist li{

}
#cmenu{
    width: 100%;
    overflow: hidden;
}
#createcourse{
    text-align: center;
    font-size: 24px;
    color: white;
    border-bottom: 1px dotted;
}
#cName{
    padding: 10px;
    text-align: center;
    border-bottom: 1px dotted; 
    color: white;
}
#dName{
    padding: 10px;
    text-align: center;
    border-bottom: 1px dotted; 
    color: white;
}
#eName{
    padding: 10px;
    text-align: center;
}
/*#logga{
	position:fixed;
	top:5px;
	right:415px;
}*/