body{
	background-color: white;
	font-family: Century, sans-serif ;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.231;
	margin: 0px;
	min-height: 450px; 
	min-width: 700px;
}
#div_wrapper{
	position: absolute;
    background-color: #749C3F;
    top: 0;
    left: 0;
    right: 0;
    bottom: 96%;
    min-height: 50px;
    text-align: center;
    color: white;
}
#div_wrapper a{
	font-size: 36px;
	text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
}
a.active{
	background-color: #749C3F !important;
	font-weight: bold !important;
}
ul.menu li a{
	font-size: 18px;
	font-weight: normal;
	background-color: #BEC1B2;
 	padding-top: 1px;
 	padding-right: 10px;
 	padding-left: 10px;
 	color: white;
	text-decoration:none;
  	border-top-left-radius:20px;
	border-top-right-radius:20px;
	/*box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75); /*1. null 2. null 3.Degrading */
}
ul.menu li{
	position: relative;
	display: block;
	list-style-type: none;
	float: left;
}
li{
	line-height: 18px;
}
h1{
	left: 0;
	top: 0;
}
nav.full{
	position: relative;
    top: -49px;
    left: -20px;
}
#div_email_pw{
	position: absolute;
	border-radius: 1px;
	padding-left: 20px;
	display: block;
	font-size: 16px;
}
#div_userbox{
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	margin: auto auto;
	width: 470px; 
	background: #749C3F;  /*#7E8F7C med trans*/
	border-radius: 20px;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.75);
	width: 465px; 
}
#div_userbox.bigbox{
	top: 85px !important; 
	max-height: 265px;
}
#div_userbox.smallbox{
	max-height: 180px;
}
#div_regform{
	position: absolute;
	border-radius: 1px;
	padding-left: 20px;
	display: block;
	font-size: 16px;
}
input{
	margin-top: 10px;
	padding: 0 8px;
	width: 409px;
	height: 30px;
}
.b_login {
	position: absolute;
	font-family: Century;
	right: 16px;
	bottom: -65px;
	background-color: white;
	color: #749C3F !important;
	border-color: #3B3738;
	border: 1px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	width: 100px;
	text-decoration: none;
	text-align: center;

}
.b_login:hover {
	cursor: pointer;
}
#logga{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
/*#C63D0F 	red
#3B3738		svart
#FDF3E7		vit
#7E8F7C		grön/grå	*/